/*fonts*/
body, td, th, select, input, p {
	font-size: 12px;
	font-family:Arial, Tahoma, Verdana, Helvetica;color:#333333;
}
font {
font-size: 12px;
}
body {
	padding:0px 0 31px 0;
	margin: 0px;
	text-align:center;
	}
a{
       color: #213c70;
       text-decoration: underline;
}
* {
	margin: 0px;
	padding:0px;
}
.bd {
font-weight:bold;
}
.nm {
font-weight:normal;
}
table{
border-collapse:collapse;
}

table td{
padding:0px; 
}

img { behavior: url('/css/pngbehavior.htc'); }  

a img {
	border: 0;
}

.sth0   {font-family:Tahoma;}
.sth1   {font-family:Arial;}
.sth2   {font-family:Arial Narrow;}
.sth3   {font-family:Arial Black;}

.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs17 {font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs24{font-size:24px;}


.al0{text-align:left;}
.al1{text-align:center;}
.al2{text-align:right;}
.al4{float:left;}
.al5{text-transform:uppercase;}
.al6{float:right;}
.al7{text-decoration:line-through;}


.co0 {color:#333333;}
.co1 {color:#ffffff;}
.co2 {color:#000000;}
.co3 {color:#a41e29;}
.co4 {color:#8d1e17;}
/*lists*/
/*rotator*/
.div23 {
	visibility:hidden;
	position:absolute;
	display:none;	
}

.div24 {
	visibility:visible;
	position:static;
	display:block;	
}
ul{      
	padding:0;                 
    list-style: none;
}

h1 {color:#677f29;font-size:18px;padding:0 0 0px 0;}
h3 {font-size:14px;padding:0px 0 0px 0;color:#213c70; font-weight:bold;}
	
/*marg */


.marg0 	{padding:16px 15px 0 0;}
.marg1 	{padding:2px 0px 3px 0;}


	a.href0:link, a.href0:visited {color:#000000; text-decoration: none;}
	a.href0:hover {color:#000000; text-decoration: underline;}	
	
	a.href1:link, a.href1:visited {color:#ffffff; text-decoration: none;}
	a.href1:hover {color:#ffffff; text-decoration: underline;}	



	#wrap {width:815px;margin: auto;text-align:left;padding-top:20px;}	
	#wrapIn { background:#fff url(../i1/main1p.gif) no-repeat;}		
	#wrapIn1 {background:url(../i1/main2p.gif) no-repeat bottom left; }	
	
#htsText {display:none;}

#topDiv {height:86px;}	

#topDiv1 {height:86px;}	

#logoBlock {}
#logo{}

#topText{position:absolute;margin:30px 0 0 480px;width:310px;font-size:18px;font-weight:bold;;text-align:right;color:#93a0a5;}

#vc{display:none;}

	
#dtmlNav {display:none;}

#mainArea {}
#mainAreaIn {padding-left:5px;}

#leftColumn {display:none;}

#centralColumn {float:left;width:805px;}
#cColin {}

#hMid {padding:0px;}
#hMid .c1{float:left;width:580px;padding-top:0px;}
#hMid .c2{float:left;width:220px;}


#slideDiv {width:575px;height:360px;}
#slideDiv ul {list-style:none;padding:0;margin:0;}
#slideDiv li {padding:0 !important;width:575px;}

#portfolio .rot2 {visibility:hidden;position:absolute;}

.rBut {position:absolute;text-align:center;margin:-39px 0 1px 32px;padding:2px 0;z-index:30;}
.rBut img{margin:0 2px;cursor:pointer;}


#searchLine { display:none;}

#best1 {background: url(../i1/best-y.gif) repeat-y;margin-left:10px;}
#best2 {background: url(../i1/best1.gif) no-repeat;}
#best3 {background: url(../i1/best2.gif) no-repeat bottom left;padding-bottom:15px;}

#best3 .ttl {text-align:center;font-size:12px;font-weight:bold; color:#474747;padding:6px 0 3px 0;}

#maincd {
	position:relative;
	overflow:hidden;
	width: 910px;
	height:120px;
	margin-left:33px;
}

#itemc {	position:absolute;	width:20000em;}
#itemc div{	float:left;width:120px;text-align:center;background-repeat:no-repeat;background-position: center center; background-color:#fff;margin:0 5px;}

.prevPage { display:block;position:absolute;cursor:pointer;margin:-80px 0 0 15px; width:10px; height:35px;background: url(../i1/prev-but.gif) no-repeat;}
.prevPage:hover {border:1px solid #eaeced;}
.prevPage:active {  border:1px solid #eaeced;}
.nextPage { display:block;position:absolute;cursor:pointer;margin:-80px 0 0 955px;width:10px; height:35px;background: url(../i1/next-but.gif) no-repeat;}
.nextPage:hover {border:1px solid #eaeced;}
.nextPage:active {  border:1px solid #eaeced;}

/**/



#sdet1,#sdet1a { background: url(../i1/sdet-y.gif) repeat-y;width:802px;  }
#sdet2 {background: url(../i1/sdet2.gif) no-repeat bottom left;}
#sdet3 {padding:9px 0 9px 16px;background: url(../i1/sdet1.gif) no-repeat; }

#sdet1 .c1{float:left;width:130px;}
#sdet1 .c2{float:left;width:630px;padding-top:12px; }
#sdet1a .c2{float:left;width:745px;padding-left:5px;}

#sdet3 h1 {color:#333333;font-size:24px;padding:0 0 1px 0;font-weight:normal;}
#sdet3 h2 {color:#666600;font-size:16px;padding:0px 0 4px 0;}


.cr1 { display:none;background: url(../i1/crumbs-y.gif) repeat-y;width:802px;  margin-top:4px;}
.cr2 {background: url(../i1/crumbs1.gif) no-repeat;}
.cr3 {background: url(../i1/crumbs2.gif) no-repeat bottom left;padding:6px 0 6px 20px; font-size:11px; color:#213c70;}

.cr3 div{padding:1px 0 1px 0;}

.pg {padding:7px 21px 7px 0;}
.paging td{}
.paging .num{}
.paging .cvl {padding:0 11px 0 11px; font-weight:bold;font-size:11px;}
.paging .back {padding:4px 11px 0 11px; font-weight:bold;}
.paging .next {padding:4px 11px 0 11px;font-weight:bold;}

.paging .on {text-align:center;width:19px;color:#fff;padding:3px 0; background:url(../i1/pg-bg.gif) no-repeat center 1px;}

.paging .nm {text-align:center;padding:0 0 0 0;width:19px;height:20px;}
.paging .nm a {display:block;padding-top:3px;}
.paging td a{color:#666666;text-decoration:none; } 
.paging td a:hover{color:#666666;text-decoration:underline; }
.paging div {float:left;}

.bcknxt  {display:none;float:right;padding:1px 10px !important;}

.secWrap {background: url(../i1/sec-y.gif) repeat-y;}
.secWrap1 {background: url(../i1/sec1.gif) no-repeat  !important;}
.secWrap2 {background: url(../i1/sec2.gif) no-repeat bottom left;padding:0px 0 0px 0px;}

.sec {}
.sec .ct {background: url(../i1/secc-y.gif) repeat-y top right;width:160px;}
.sec .it {background: url(../i1/seci-y.gif) repeat-y top right;width:160px;}
.sec .last {background: url(../i1/t-p.gif) repeat-y top right !important;}
.sec .line1 td{vertical-align:top;}

.sec .ct .tbg{background: url(../i1/secc-t.gif) no-repeat;padding-top:9px;width:160px;text-align:center;}
.sec .it .tbg{background: url(../i1/seci-t.gif) no-repeat;padding-top:9px;width:160px;text-align:center;}

.sec .p1 {width:160px !important;text-align:center;margin:auto; }

.sec  .line1 .it .marg{padding:6px 12px 5px 12px;text-align:left;}
.sec  .line1 .ct .marg{padding:6px 12px 5px 12px;text-align:center;font-weight:bold;}

.sec .line2 td {font-size:11px; vertical-align:bottom;border-bottom:1px dotted #cccccc;}
.sec .last td {border-bottom:0px !important;}

.sec .line2 .ct {background: url(../i1/secc-y.gif) repeat-y !important top right;text-align:center;padding:5px 0 0 0 !important;}
.sec .line2 .ct .add{background: url(../i1/secc-b.gif) no-repeat bottom center;padding-bottom:5px;}
.sec .line2 .ct img {}

.sec .line2 .it {background: url(../i1/seci-y.gif) repeat-y top right;padding:0px 0 0 0 !important;}
.sec .line2 .it .marg{padding:0px 12px 0 12px;}
.sec .line2 .it .add{text-align:center;padding:5px 10px;}
.sec .add .c1 {float:left;width:30px;color:#333333; font-size:11px;text-align:center;padding-top:1px;}
.sec .add .c2 {float:left;width:30px;color:#333333; font-size:11px;}
.sec .add .c2 .tex {width:24px;}
.sec .add .c3 {float:left;width:80px;}

.sec .pr {text-align:left;color:#333;font-size:11px;width:135px;padding-bottom:3px;}
.sec .pr1 {font-size:11px;float:right;color:#949494;}
.sec .pr2 {color:#3884ba;font-size:11px;font-weight:bold;float:right;}
.sec .pr span{font-weight:bold;}
.sec .equot {font-size:11px; text-align:left; padding:0 20px 0px 17px;}


.rel1 {display:none;}
.rel2 {background: url(../i1/rel1.gif) no-repeat;}
.rel3 {background: url(../i1/rel2.gif) no-repeat bottom left;padding:6px 0 6px 4px;}
.rel3 .ttl {text-align:center;font-size:12px;font-weight:bold; color:#474747;padding:6px 0 3px 0;}

.rel {margin:0;padding:0;}
.rel td{width:131px; text-align:center;border-right:1px dotted #a3a5a5;border-bottom:1px dotted #a3a5a5;}
.rel td.last{border-right:0px !important;}
.rel .last td{border-bottom:0px !important;}
.rel .line1 .marg{padding:3px 12px 6px 12px;font-size:11px;}
.rel .line1 td{vertical-align:top;}

.rel .tbg{ padding:5px;}
.rel .p1 {width:121px;text-align:center;}
.rel a{text-decoration:underline; } 
.rel a:hover{text-decoration:none; }
.rel .pr{font-size:11px;  text-align:center; color:#666666;}
.rel .pr2{font-weight:bold;color:#9e0b0f;font-size:12px;}

.itemName { padding:0 0 0 6px;}
#itemDiv {padding:8px 0px 10px 10px ;}

#itemDiv .c1 {float:left;width:350px;font-size:11px;text-align:center;padding-top:5px;}
#itemDiv .c1 .plus{padding:5px 0 0px 0px;}
#itemDiv .c1 a {color:#213c70;}

.insWrap {display:none;margin:0 0 0 0;text-align:center;}
.ins  {margin:auto;}
.ins td{vertical-align:top;width:93px;font-size:11px;text-align:center;}
.ins .tbg{padding-top:20px;}
.ins .marg{padding:2px 7px 0 7px !important;}
.ins .p1 {width:93px;text-align:center;}
.ins a {color:#333333;text-decoration:underline; } 
.ins a:hover{color:#333333;text-decoration:none; }

#itemDiv .c4 {width:444px;float:left;}
#itemDiv .c4In {}
#itemDiv .c4 .text{padding:8px 17px 8px 0px;}

.bkmk {display:block;}

.iord1  {background: url(../i1/iord1.gif) no-repeat;padding:9px 0 0 0;}
.iord2  {background: url(../i1/iord-y.gif) repeat-y;}
.iord3  {background: url(../i1/iord2.gif) no-repeat bottom left;;padding:0px 0 7px 12px;}


#itemDiv .c2 {float:left;width:218px;font-size:11px; }
#itemDiv .c2In {width:200px;}

#itemDiv .c2 .line {padding:5px 3px 5px 7px;border-bottom:1px dotted #acacae;}

#itemDiv .c2 .line1 {padding:5px 3px 5px 7px;border-bottom:1px dotted #acacae;}
 .iOpt {padding:5px 0 0 13px;font-size:11px;}
 .iOpt .sel{height:19px;}
 
#itemDiv .opt {font-weight:bold;padding:0px 0 3px 0px;}
#itemDiv .iopt1 {float:left; font-size:12px;}

.avl {padding:5px 3px 5px 7px;}
.avl span{ color:#cc0000;}

#itemDiv .c3 {float:left;width:202px;font-size:11px; }

#itemDiv .prDiv { }
#itemDiv .pr {padding:0px 0px 0px 0px;text-align:left;color:#000000;}
#itemDiv .pr1 {font-size:12px;float:right;color:#333333;}
#itemDiv .pr2 {color:#3884d2;font-size:12px;font-weight:bold;float:right;}
#itemDiv .pr2 span{color:#000000;font-size:11px;font-weight:normal;}


#itemDiv .c3 .line {padding:5px 7px 5px 7px;border-bottom:1px dotted #acacae;}
#itemDiv .c3 .line1 {padding:5px 7px 5px 7px;border-bottom:1px dotted #acacae;}
#itemDiv .c3 .sq {font-size:12px;}
#itemDiv .c3 .sq .ttl {font-size:11px; font-weight:bold;}





#itemDiv .qty {float:left;padding-top:2px;width:80px;}
#itemDiv .tex {width:38px;border:1px solid #998f7b;color:#000000;}

#itemDiv .qty1 {float:left;font-weight:bold;padding:2px 0 0 0px;font-size:12px; color:#000;}
#itemDiv .tex1 {width:70px;background: #f7f8fa;font-weight:bold;border:1px solid #f7f8fa;color:#cc0000;font-size:12px;padding:1px 0 0 0;}
#itemDiv .qtyWr1 {padding:4px 7px 4px 0px;border-top:1px dotted #000000;}

#itemDiv .c4 .bt {padding:7px 0 5px 0px;border:0px; text-align:center;}

.but1  {display:none;background: url(../i1/but-y.gif) repeat-y;margin-top:2px;}
.but2  {background: url(../i1/but1.gif) no-repeat;}
.but3  {background: url(../i1/but2.gif) no-repeat bottom left;;padding:4px 5px 3px 5px;text-align:center;}
.but3 img {margin:1px 5px;}

li {background: url(../i1/ar1.gif) no-repeat 2px 4px;padding:0 0 0 12px;}


.curTtl {display:none;background: url(../i1/curttl.gif) no-repeat center top; text-align:center;padding:5px 0 4px 0; font-weight:bold;}
.curWrap {display:none;border-bottom:1px dotted #b2b2b2;margin-bottom:10px;}
.cur {}
.cur td{vertical-align:top; border-right:1px dotted #b2b2b2;width:133px !important;font-size:11px;text-align:center;}
.cur td.last{border-right:0px dotted #b2b2b2;}
.cur .tbg{padding-top:10px;}
.cur .p1 {width:133px;text-align:center;}
.cur .marg {padding:3px 18px 11px 18px;text-align:center;}
.cur span { font-weight:bold;color:#993333;}
.cur .pr {padding:3px 0 0 0;}
.cur a{text-decoration: none;}
.cur a:hover {text-decoration: underline;}

.footTexts {display:none;}

#fText {text-align:center;padding-top:8px;}
#fText1 { display:none;margin:auto; width:600px;font-size:11px;color:#fff;}

#footer {display:none;}
.footCards {display:none;}
.ecom {position:absolute;margin:40px 0 0 900px; width:90px;}

#botNav {display:none;}


#copy1 {color:#fff;font:10px Tahoma;padding:5px 0 3px 0;text-align:center;}
#copy1 a{color:#fff;}
.p1	{	background-repeat:no-repeat;background-position: center center;}

#articleText {width:800px; }
#articleTextIn {padding:20px 19px 20px 21px; }
#articleText td {vertical-align:top;}

.apg { text-align:center; background:url(../i1/apage-bg.gif) repeat-y center top;}
.apg table {margin:auto;}
.apg td {font-size:11px;font-weight:bold;}
.apg a {display:block;padding:9px 12px;color:#333333;text-decoration:none;}
.apg a.on {background:#fff;color:#3884ba;}
.apg a:hover {text-decoration:underline;}
